<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="shop1" connectionString="Data Source=localhost\myshop1;Initial Catalog=base1;Integrated Security=True;Pooling=True"/>
	</connectionStrings>
</configuration>